.CityForm {
  margin-bottom: 20px;
}

.CityForm__input {
  color: #2c3e50;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
  font-size: 120%;
}

.CityForm__btn {
  background-color: #f1c40f;
  font-weight: 700;
  color: #c0392b;
  border-radius: 3px;
  font-size: 120%;
  outline: none;
}